:root {
  --font-family: Ubuntu, Roboto, Helvetica, sans-serif;
}

body {
  font-family: var(--font-family);
}

button {
  font-family: var(--font-family);
}

.header {
  display: flex;
}

.header-filler {
  flex-grow: 5;
}
