.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100svh;

  > form {
    display: grid;
    gap: 0.5rem;
  }

  .login-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    > label {
      width: 5rem;
    }

    > input {
      width: 15rem;
    }
  }

  .login-submit {
    justify-self: end;
  }
}
